{% extends "base.html" %} 
{% block content %}

<style>
    
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #490763;
    }

    .about {
        margin: 40px 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-section {
        margin: 40px 20px;
        margin-left: auto;
        margin-right: auto;
    }

    #about-heading {
        padding: 20px 0px;
        text-align: center;
    }
    

    
</style>

<div class="container about">
    <div class="col-md-12 card mb-4  mt-4 left  top about-section">
        <div class="card-body">
            <h1 id="about-heading">About this project</h1>
            <p>
                This project serves as a basic blog that catalogs all of my recent trips. This web app makes use of the
                Django framework and consists of a home page in which previews of the blog posts are rendered in
                succession to the user.
                In addition, each preview contains a button that directs the user to a page that renders the full blog
                post as well as a form to submit a comment. The technologies used in this project are HTML, CSS,
                Bootstrap, JavaScript, Python, and Django.
                The site can improve by elevating the general styling of the page and integrating user log-in
                functionality.
            </p>
        </div>
    </div>
</div>


{%endblock%}